<div class="game-container">
  <h2>Tic Tac Toe</h2>

  <!-- Start Button -->
  <div class="start-section" *ngIf="!gameId">
    <button (click)="startGame()">Start Game (Player1(X) vs Player2(O))</button>
  </div>

  <!-- Game Board -->
  <div *ngIf="gameId">
    <div class="board">
      <div *ngFor="let cell of board; let i = index"
           class="cell"
           [class.winning]="winningCells.includes(i)"
           (click)="makeMove(i)">
        {{ cell }}
      </div>
    </div>

    <div class="status">
      <p *ngIf="winner">Winner: {{ winner }}</p>
      <p *ngIf="!winner">Current Player: {{ currentPlayer }}</p>
      <div class="actionButton">
        <button (click)="resetGame()">Reset</button>
        <button (click)="undoMove()" [disabled]="!!winner">Undo</button>
        <button (click)="startGame()" >New Game</button>
      </div>
      
    </div>
    <div class="ViewScoreBtn" >
       <button (click)="viewScoreBoard()" >Toggle Score Board</button>
  </div>

  <div class="history" *ngIf="moveHistory.length > 0">
  <h3>Move History</h3>
  <table>
    <thead>
      <tr>
        <th>S.L</th>
        <th>Player</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let move of moveHistory; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ move.player }}</td>
        <td>{{ formatAction(move.action) }}</td>
      </tr>
    </tbody>
  </table>
  <div class="history" *ngIf="toggleScoreboard">
  <h3>Score Board</h3>
  <table>
  <thead>
    <tr>
      <th>X Wins</th>
      <th>O Wins</th>
      <th>Draws</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="scoreboard">
      <td>{{ scoreboard.xWins }}</td>
      <td>{{ scoreboard.oWins }}</td>
      <td>{{ scoreboard.draws }}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div *ngIf="isLoading" class="loading">
  <div class="spinner"></div>
  <p>Loading...</p>
</div>
</div>
